@model List<Final_Project_OOP.Models.Course>

@{
    ViewData["Title"] = "Liste des Cours";
}

<h1>@ViewData["Title"]</h1>

@if (Model != null && Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Nom du Cours</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var course in Model)
            {
                <tr>
                    <td>@course.Name</td>
                    <td>@course.Description</td>
                    <td>
                        <a href="@Url.Action("Details", "Course", new { id = course.CourseId })" class="btn btn-info">Détails</a>
                        <a href="@Url.Action("CreateAssignment", "FacultyMember", new { courseId = course.CourseId })" class="btn btn-primary">Créer un Devoir</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Aucun cours n'est disponible pour l'instant.</p>
}
